In [1]:
~6

-7

In [2]:
7|5

7

In [3]:
7&6

6

In [4]:
print('hello')

hello

In [5]:
a=b=c=10
print(c)

10

In [5]:
a=b=c=10
print(c)

10

In [6]:
a,b,c=1,2,3
print(a,c,b)

1 3 2

In [10]:
10>>4

0

In [11]:
10<<4

160

# numbers

In [15]:
a=10
b=20.04
c='shrey'
print(type(a))  #type function is used to tell the type of variable acc. to the value assigned to it
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

# strings

In [24]:
    #indexing in stings
    a='shreyansh'
    b='tyagi'
    print(a[0])
    print(a[0:5])
    print(a[-9:-4])
    print(b[-1])
    print(b[0:6])

s
shrey
shrey
i
tyagi

In [1]:
str1="my name is shrey"
print(str1[3:7]

name

In [6]:
#find function
str1.find("n")
str1.find("i")
str1.find("shrey")
str1.find("name")

3

In [7]:
#replace function
str2="hello world"
str2.replace("world","shrey")

'hello shrey'

In [9]:
str2.replace("world","")

'hello '

In [16]:
#split function
str3="word1,word2,word3"
str3.split(",")

['word1', 'word2', 'word3']

In [17]:
#count function
str4="shreyansh"
str4.count("s")

2

In [23]:
str4="Shreyansh"
str4.count("s")

1

In [25]:
str5=str4.upper()
print(str5)

SHREYANSH

In [29]:
str5.count("S")

2

In [30]:
#maximum function
max(str5)

'Y'

In [31]:
#minimum function
min(str5)

'A'

In [36]:
str1="@#%&tyTShrePOo"
max(str1)

'y'

In [35]:
min(str1)

'#'

# tuple

In [38]:
#printing tuple 
mytuple=('a','b','c','d')
print(mytuple)

('a', 'b', 'c', 'd')

In [72]:
mytuple.extend('e')
print(mytuple)

AttributeError: 'tuple' object has no attribute 'extend'

In [38]:
print(type(mytuple))

<class 'tuple'>

In [48]:
#concatenation
mytuple +=('h',)
print(mytuple)

('a', 'b', 'c', 'd', 'f', 'f', 'f', 'g', 'h')

In [52]:
#repetation
print(mytuple*2)

('a', 'b', 'c', 'd', 'f', 'f', 'f', 'g', 'h', 'a', 'b', 'c', 'd', 'f', 'f', 'f', 'g', 'h')

In [53]:
#repeatation
mytuple*3

('a',
 'b',
 'c',
 'd',
 'f',
 'f',
 'f',
 'g',
 'h',
 'a',
 'b',
 'c',
 'd',
 'f',
 'f',
 'f',
 'g',
 'h',
 'a',
 'b',
 'c',
 'd',
 'f',
 'f',
 'f',
 'g',
 'h')

In [62]:
#indexing
mytuple[5]
mytuple[2]

'c'

In [63]:
#slicing
mytuple[2:4]

('c', 'd')

In [67]:
mytuple[0:4]

('a', 'b', 'c', 'd')

In [68]:
a1=mytuple[0:2]
print(a1)

('a', 'b')

In [69]:
a1*2

('a', 'b', 'a', 'b')

In [70]:
b1=('c','d')
a1+b1

('a', 'b', 'c', 'd')

In [75]:
print(a1[1],b1[0])

b c

In [4]:
tuple1=(1,2,3,'a','b',30.0456,'shreyansh')
tuple2=(5,6,"shrey")
tuple1+=tuple2
tuple1+=('d',)
print(tuple1)
print(type(tuple1)) 
print(tuple1[-1])

(1, 2, 3, 'a', 'b', 30.0456, 'shreyansh', 5, 6, 'shrey', 'd')
<class 'tuple'>
d

In [5]:
len(tuple1)

11

# lists

In [44]:
#defining a list
list1=[1,2,'a','b','python',33.78,'operation',3,4,66]
print(list1)

[1, 2, 'a', 'b', 'python', 33.78, 'operation', 3, 4, 66]

In [8]:
#printing list
print(type(list1))

<class 'list'>

In [45]:
#removing an element from list
list1.remove('operation')
print(list1)

[1, 2, 'a', 'b', 'python', 33.78, 3, 4, 66]

In [46]:
list1.remove(33.78)
print(list1)

[1, 2, 'a', 'b', 'python', 3, 4, 66]

In [48]:
list1.remove(3)
print(list1)

[1, 2, 'a', 'b', 'python', 4, 66]

In [11]:
#concatenation
list2=[3,4,50.04,'c language','c','d']
print(list2)
print(list1)

[3, 4, 50.04, 'c language', 'c', 'd']
[1, 2, 'a', 'b', 'python']

In [12]:
list1+=list2
print(list1)

[1, 2, 'a', 'b', 'python', 3, 4, 50.04, 'c language', 'c', 'd']

In [13]:
print(list1)

[1, 2, 'a', 'b', 'python', 3, 4, 50.04, 'c language', 'c', 'd']

In [15]:
list1.remove('c')   #remove function only take one argument at a time
print(list1)

[1, 2, 'a', 'b', 'python', 3, 4, 50.04, 'c language', 'd']

In [41]:
#repetation
list1*3

[1,
 2,
 'a',
 'b',
 'python',
 3,
 4,
 50.04,
 'c language',
 1,
 2,
 'a',
 'b',
 'python',
 3,
 4,
 50.04,
 'c language',
 1,
 2,
 'a',
 'b',
 'python',
 3,
 4,
 50.04,
 'c language']

In [22]:
print(list1*3)

[1, 2, 'a', 'b', 'python', 3, 4, 50.04, 'c language', 'd', 1, 2, 'a', 'b', 'python', 3, 4, 50.04, 'c language', 'd', 1, 2, 'a', 'b', 'python', 3, 4, 50.04, 'c language', 'd']

In [27]:
#indexing
print(list2[3])

c language

In [32]:
print(list1)

[1, 2, 'a', 'b', 'python', 3, 4, 50.04, 'c language', 'd']

In [28]:
#slicing
print(list2[0:4])

[3, 4, 50.04, 'c language']

In [31]:
print(list1)

[1, 2, 'a', 'b', 'python', 3, 4, 50.04, 'c language', 'd']

In [40]:
list1.remove('d')   #hence list is mutuable in nature therefore it 
                   #is possible to remove and append any element from list
print(list1)

[1, 2, 'a', 'b', 'python', 3, 4, 50.04, 'c language']

In [51]:
#APPEND which is used to add a new value into list
print(list1)

[1, 2, 'a', 'b', 'python', 4, 66, 'd']

In [69]:
list5=[1,2,3,'a','b',59.09]
print(list5)

[1, 2, 3, 'a', 'b', 59.09]

In [77]:
list6=[5,6,'c','d']  #this is the way to add a new list into the existing list 
                     #because we can only add one element using append function so this new list is treated as 
                     #one element
list5.append(list6)
print(list5)
print(list5[-1])

[1, 2, 3, 'a', 'b', 59.09, [5, 6, 'c', 'd'], [5, 6, 'c', 'd'], [5, 6, 'c', 'd'], [5, 6, 'c', 'd'], [5, 6, 'c', 'd']]
[5, 6, 'c', 'd']

In [61]:
list1.append('e')
list1.append(3)
list1.append('3')
print(list1)

[1, 2, 'a', 'b', 'python', 4, 66, 'd', 'e', 'e', 'e', 'e', 3, 'e', '3', 'e', 3, 'e', 3, '3', 'e', 3, '3']

In [62]:
print(list1)

[1, 2, 'a', 'b', 'python', 4, 66, 'd', 'e', 'e', 'e', 'e', 3, 'e', '3', 'e', 3, 'e', 3, '3', 'e', 3, '3']

In [63]:
list1.remove('e')
list1.remove('3')
list1.remove(3)
print(list1)

[1, 2, 'a', 'b', 'python', 4, 66, 'd', 'e', 'e', 'e', 'e', 'e', 3, 'e', 3, '3', 'e', 3, '3']

In [64]:
#EXTEND is used to concatenate or to add more than one value into the string
list3=[1,2,'a','b',35.98,'python']
print(list3)

[1, 2, 'a', 'b', 35.98, 'python']

In [80]:
list3.extend(['c','d',1,5,6])  #the elements you want to add must be define into the list only
print(list3)

[1, 2, 'a', 'b', 35.98, 'python', 'c', 'd', 1, 5, 6, 0.09, 'e', 'f', 'c', 'd', 1, 5, 6]

In [73]:
list4=[1,5,6,0.09,'e','f']
list3.extend(list4)       #so here in extend function list4 is not treated as one element,hence all the element
                          #are added individually   
print(list3)

[1, 2, 'a', 'b', 35.98, 'python', 'c', 'd', 1, 5, 6, 0.09, 'e', 'f']

In [78]:
print(list3[-1])  #difference can easily be notice between append and extend

f

In [79]:
print(list4[-1])

f

In [2]:
#insertion
lst1=[1,2,3,'a','shrey',3.04]
print(lst1)

[1, 2, 3, 'a', 'shrey', 3.04]

In [83]:
lst1.insert(3,4)   #index,value(3 is index and 4 is value)
print(lst1)

[1, 2, 3, 4, 'a', 'shrey', 3.04]

In [84]:
lst1.insert(-1,'shreyansh')
print(lst1)

[1, 2, 3, 4, 'a', 'shrey', 'shreyansh', 3.04]

In [85]:
lst1.insert(6,'shreyansh')
print(lst1)

[1, 2, 3, 4, 'a', 'shrey', 'shreyansh', 'shreyansh', 3.04]

In [86]:
lst1.remove('shreyansh')
print(lst1)

[1, 2, 3, 4, 'a', 'shrey', 'shreyansh', 3.04]

In [87]:
lst1.remove('shreyansh')
print(lst1)

[1, 2, 3, 4, 'a', 'shrey', 3.04]

In [89]:
print(lst1)

[1, 2, 3, 4, 'a', 'shrey', 'shreyansh', 3.04]

In [90]:
lst1.insert(8,10)
print(lst1)

[1, 2, 3, 4, 'a', 'shrey', 'shreyansh', 3.04, 10]

In [91]:
lst1.insert(11,30)
print(lst1)

[1, 2, 3, 4, 'a', 'shrey', 'shreyansh', 3.04, 10, 30]

In [92]:
lst1.insert(1000,50)
print(lst1)

[1, 2, 3, 4, 'a', 'shrey', 'shreyansh', 3.04, 10, 30, 50]

In [3]:
len(lst1)

6